* {
    margin: 0; 
    padding: 0;
    
}

html{
    overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6, p, a{
	font-family: 'Roboto', sans-serif;
}

.fixed {
	position: fixed;
	top: 0;
	z-index: 2;
}

/*--------------- MENU------------------- */

nav {
	width: 100%;
	height: 130px;
	background: #fff;
    box-shadow: 2px 10px 23px -8px rgba(0,0,0,0.29);  
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #9b9b9b;
}

ul.menu{
    list-style:none;
    display: flex;
    align-items: center;
    
}

ul.menu a {
    text-decoration: none;
}

ul.menu a:hover {
    color: #2e2c2c;
}

ul.menu li img.menuImg{
    width: 100px;
    height: 80px;
}






/*--------------- INICIO------------------- */


div.banner{
	background-color: green;
	width: 100vw;
	height: 90vh;
    padding-top: 100px;


}

/*--------------- GALERIA------------------- */
section#galeria{
	color: #49C1BF;
	box-shadow: 2px 10px 23px -8px rgba(0,0,0,0.29);
    margin-top: 130px;
    padding-bottom: 100px;
	
}

section#galeria h2{
	font-weight: bold;
	margin-bottom: -10px
}


section#galeria div.carousel{
	width: 60%;
	margin: 30px auto;	
}

section#galeria div.carousel div.carousel-inner{
	height: 600px;
	border-radius: 40px 40px 40px 40px;
}


/*--------------- SOBRE MI------------------- */

section#sobremi{
	padding-bottom: 100px;
    margin-top: 130px;
	box-shadow: 2px 10px 23px -8px rgba(0,0,0,0.29);  
}

.sobremiTitle1{
	display: none;
}

section#sobremi img.sobremi_img{
	width: 300px;
	height: 300px;
}

section#sobremi h2{
	margin-bottom: -10px;
	font-weight: bold;
	color: #5C91C9;
}

section#sobremi p{
	margin-top: 20px;
}


/*--------------- PROYECTOS RECIENTES------------------- */

section#proyectos{
	margin-top: 130px;
	padding-bottom: 100px;
	box-shadow: 2px 10px 23px -8px rgba(0,0,0,0.29); 
		
}

section#proyectos h2{
	margin-bottom: -10px;
	font-weight: bold;
	color: #49C1BF;
}

section#proyectos h3{
    border-bottom: 2px solid #8f8f8f;
    width: auto;
    font-weight: bold;
}

section#proyectos p{
	margin-top: 20px;
}

section#proyectos  div.proyectoImg img{
	border-radius: 40px 40px 40px 40px;
	width: 90%;
	height: 90%;
}

div.proyectoImg{
    padding: 50px;
}


/*--------------- CONTACTO------------------- */

section#contacto {
	margin-top: 130px;
	margin-bottom: 30px;
}

section#contacto h2{
	font-weight: bold;
	margin-bottom: -10px;
	color: #5C91C9;
}

section#contacto  form input,
section#contacto  form textarea{
	border: 0;
	border-radius: 20px 20px 20px 20px;
	width: 65%;
	margin-bottom: 20px;
	padding-left: 20px;
	box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.3);
}

section#contacto  input{
	height: 50px;
}

section#contacto  textarea{
  min-height: 150px;
  max-height: 150px;
}

section#contacto  input.boton{
  width: 150px;
  background: #5C91C9;
  color: #FFF;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
 
}

.contactoImg{
	width: 75%;
	height: 85%;
}

/*--------------FOOTER-----------------*/
footer{
	background-color: #374957;
}

footer section{
	color: #fff;
	padding: 20px;
}

footer section div a img{
	margin: 30px;
	width: 100px;
	height: 100px;
}

/*--------------MEDIA QUERYS-----------------*/

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 0px) and (max-width: 480px) {

  /*--------------- GALERIA------------------- */
    section#galeria div.carousel{
        width: 100%;
        margin-top: 30px;

    }

    section#galeria div.carousel div.carousel-inner{
        height: 100%;
        border-radius: 20px 20px 20px 20px;
    }
    
  /*--------------- SOBRE MI------------------- */
    .divContacto:nth-child(1){
		order: 2;
	}
	.divContacto:nth-child(2){
		order: 1;
	}
    
    .sobremiTitle1{
		display: block;
	}

	.sobremiTitle2{
		display: none;
	}

  /*--------------- PROYECTOS RECIENTES------------------- */
    section#proyectos  div.proyectoImg img{
        border-radius: 20px 20px 20px 20px;
        width: 100%;
        height: 100%;
    }
    
    div.proyectoImg{
        padding: 30px;
    }
    
  /*--------------- CONTACTO------------------- */
    section#contacto  form input,
    section#contacto  form textarea{
        width: 90%;
    }
    
    form.formulario{
        margin-left: 10%;
    }
    
    
  
  /*--------------FOOTER-----------------*/
    footer section p{
        font-size: 12px;
    }
    
    footer section div a img{
        margin: 10px;
        width: 50px;
        height: 50px;
    }
  
}